.input {
    background-color: var(--white);
    border: 1px solid var(--gray);
    border-radius: 2px;
    width: 100%;
    min-width: 0;
    padding: 4px 12px;
    box-sizing: border-box;
    transition: all .3s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.input:focus {
    border-color: var(--light-blue);
    box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
    border-right-width: 1px;
    outline: 0;
}