.form {
    flex: 1 1 auto;
    max-width: 400px;
    margin: 100px auto 0;
}

.form__item {
    display: flex;
    gap: 10px;
}

.form__select {
    background-color: #fff;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    width: 100%;
    min-width: 0;
    padding: 4px 11px;
    box-sizing: border-box;
    transition: all .3s;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form__select:focus {
    border-color: #40a9ff;
    box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
    border-right-width: 1px;
    outline: 0;
}

.form__item:not(:last-child) {
    margin-bottom: 14px;
}

.form__control {
    display: flex;
    gap: 10px;
    min-width: 74px;
}