.form {
    flex: 1 1 auto;
    max-width: 400px;
    margin: 100px auto 0;
}

.form__item {
    display: flex;
    gap: 10px;
}

.form__item:not(:last-child) {
    margin-bottom: 14px;
}

.form__control {
    display: flex;
    gap: 10px;
    min-width: 74px;
}